$secondary-color: rgb(0, 0, 0);
$primary-color: #000000;
$screen-color: #000000;
$border-color: rgba(255, 255, 0, 0.327);
$font-color: #ffff00;

html {
  background-color: $secondary-color;
  body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    // color: $font-color;
    font-family: Arial, Helvetica, sans-serif;
  }
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: flex-start;

  .heading {
    height: fit-content;
    display: flex;
    background-color: $primary-color;

    .flight-track {
      display: grid;
      grid-template-columns: 3rem 4rem 3.5rem 0;
      grid-template-rows: repeat(3, auto);
      gap: 0;

      & * {
        margin: 0;
        font-size: 2.5rem;
        font-weight: 600;
      }

      .flight-heading {
        align-self: flex-end;
        grid-column: 1 / 5;
      }

      .track-heading {
        grid-row-start: 2;
        grid-column: 2/5;
      }
    }
  }
  .flight-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;

    .active-flights {
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;

      .active-flights-heading {
        display: flex;

        span {
          font-size: 0.8rem;
          align-self: flex-end;
          padding-left: 4px;
          padding-bottom: 4px;
        }

        .flight-location {
          margin: auto;
        }
      }

      h1 {
        align-self: flex-start;
        font-weight: 100;
        margin: 0;
      }

      .flights {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        justify-content: space-evenly;

        & > * {
          display: grid;
        }

        .flight-headings {
          grid-template-columns: repeat(4, 1fr);
          font-weight: 100;
          font-size: 0.8rem;
          padding-bottom: 4px;
          font-weight: 500;
          .media {
            display: none;
          }
        }

        #flights-info {
          border: 0.5rem solid $border-color;
          border-radius: 8px;
          margin: 0 -0.5rem;
          color: $font-color;
          background-color: $screen-color;
          text-transform: uppercase;
          font-family: monospace;

          & * {
            color: $font-color;
            background-color: $screen-color;
            text-transform: uppercase;
            font-family: monospace;
          }

          .single-flight {
            display: grid;
            padding: 2px 0;
            grid-template-columns: repeat(4, 1fr);

            .media {
              display: none;
            }

            button {
              text-align: start;
              font-weight: bold;
              cursor: pointer;
              padding: 0;
              border: none;
            }
          }

          .hidden {
            display: none;
          }
        }
      }
    }

    #map {
      visibility: hidden;
      width: 100%;
      height: 100%;
    }
    .flight-map {
      height: 100%;
      flex-grow: 1;
      padding: 0 1rem 1rem 1rem;
    }
  }
}

.plane-icon {
  height: 2rem;
  width: 2rem;
  div {
    height: 2rem;
    width: 2rem;
  }
}

@media screen and (min-width: 480px) {
  #container {
    .heading {
      .flight-track {
        margin-right: 5rem;
        flex-grow: 1;
      }
    }
    .content {
      font-size: 1.1rem;
      .active-flights {
        .flights {
          .flight-headings {
            grid-template-columns: repeat(5, 1fr);
            .medium-screen-size {
              display: contents;
            }
          }
          #flights-info {
            .single-flight {
              font-size: 0.9rem;
              grid-template-columns: repeat(5, 1fr);
              .medium-screen-size {
                display: contents;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  #container {
    .content {
      font-size: 1.2rem;
      .active-flights {
        .flights {
          .flight-headings {
            font-size: 0.9rem;
            grid-template-columns: repeat(6, 1fr);
            .large-screen-size {
              display: contents;
            }
          }
          #flights-info {
            .single-flight {
              font-size: 1rem;
              grid-template-columns: repeat(6, 1fr);
              .large-screen-size {
                display: contents;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #container {
    .content {
      font-size: 1.2rem;
      .active-flights {
        .flights {
          .flight-headings {
            grid-template-columns: repeat(7, 1fr);
            font-size: 0.9rem;
            .full-screen {
              display: contents;
            }
          }
          #flights-info {
            .single-flight {
              grid-template-columns: repeat(7, 1fr);
              font-size: 1rem;
              .full-screen {
                display: contents;
              }
            }
          }
        }
      }
    }
  }
}
